@keyframes donut-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loading__spinner {
	display: inline-block;
	border: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-left-color: var(--font-link-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: donut-spin 1.2s linear infinite;
	margin-right: 5px;
}