.searchBar{
	display: flex;
	align-items: center;
	height: 50%;
}

.searchBar__input{
	height: 100%;
	width: 280px;
	padding: 10px;
}

.searchBar__input::placeholder{
	font-weight: 500;
	font-size: 0.8rem;
}

.searchBar__button{
	background: var(--search-bg);
	height: 100%;
	width: 40px;
	border: none;
	border-radius: 2px;
}